body {
	background: #ccc;
	text-align: center;
	padding-top: 10px;
}

#book {
	position: absolute;
	width: 80%;
	height: 95%;
	top: 50%;
	margin: 0 auto;
}

#book .turn-page{
	background-color:white;
}

#book .binding {
	background: #333;
	font-size: 50px;
	text-align: center;
	line-height: 500px;
	margin: 0px;
	color: white;
}
